/* Fichier: assets/scss/_base.scss ou _styles.scss */

/* Styles généraux pour tous les liens */
a {
    /*color: #007bff;*/
    text-decoration: none;
    /*transition: color 0.3s ease;*/

    &:link { /* Liens non visités */
        color: #007bff;
    }

    &:visited { /* Liens visités */
        color: #6610f2;
    }

    &:hover { /* Survol */
        // Ces styles s'appliquent UNIQUEMENT au survol


        /* <--- C'est ici qu'il doit être ! */
        /*cursor: zoom-in;*/
        /* <--- C'est ici qu'il doit être ! */

        color: red;
        text-decoration: none;
    }

    &:active { /* Clic (état actif) */
        color: #e86107;
    }
}