// _button.scss

.buttonBox {
  display: inline-block;
  padding: 1em 2em;
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-decoration: none;
  border: 1px dashed #000;
  border-radius: 10px;
  cursor: pointer;
background-color: rgba(255, 255, 255, 0.40);
}


.text-center-with-margin .buttonBox:hover {
  cursor: url('/scratchPartials/assets/images/cursor.cur'), auto;
  background-color: rgba(255, 255, 255, 0.80);
  padding: calc(1em + 1px) calc(2em + 1px);
  border: 0px dashed #000;
  color: black;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);


  /*background-color: rgba(255, 255, 255, 0.30);*/
  /* <--- C'est ici qu'il doit être ! */
  /*cursor: zoom-in;*/
  /* <--- C'est ici qu'il doit être ! */
  /*cursor: url('/scratchPartials/assets/images/curser-detective.cur'), auto;*/

  }



.text-center-with-margin .buttonBox:active {

  cursor:pointer;


  background-color: rgba(0, 0, 0, 0.15);
  color: black; 
  mix-blend-mode: multiply;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.3);
  /*border: 1px dashed #000;*/
  }





// Cette règle est cruciale pour que le bouton soit noir par défaut
// Sa spécificité est suffisante pour la couleur de base.
.text-center-with-margin .buttonBox {
  color: black; // La couleur par défaut du texte du bouton est noire
  text-decoration: none; // Pas de soulignement
}

// Les autres règles de votre _button.scss (inchangées)
.text-center-with-margin {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  line-height: 25px;
}