// scss/_variables.scss

// Définition de tes couleurs
$dark-color: #333;
$white: #ffffff;
$primary-color: #28a745;
$fond2blocs: pink;
$fond3blocs: orange;
$nav: darkgrey;
$navHover: dimgrey;

$grisFonce: rgb(50,50,50);
$grisClair: rgb(100,100,100);
