// scss/styles.scss
@use 'variables';
@use 'reset';
@use 'fonts';
@use 'header';
@use 'navbar';
@use 'footer';
@use 'page-content';
@use 'layout';
@use 'hero';
@use 'base';
@use 'button';

@use 'styles-blocs';

@use 'animations';

@use 'card-content';


body {
//font-family: 'Roboto', sans-serif;
/*
background-color: #c73500;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
*/

/*
background-color: #004f8c;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
*/

/*
background-color: #fffbe3;
background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
*/


background-color: #fffbe3;
background-image: url("https://www.transparenttextures.com/patterns/paper-3.png");


/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

font-weight: 400;
line-height: 1.6;
}

#premier-bloc {
    scroll-margin-top: 80px; // La hauteur de ton header fixe
    /* Garde tous les autres styles de #premier-bloc ici */
}