//   .brick-wall {


// .paragraphe{
//     display: block;
//     margin: 0;
//     padding: 0;

// height:100px;
// }

// .paragraphe p{
//     display: flex;

// background-color: rgba(255, 255, 255, 0.5);
// height:100%;
// }

/*
.paragraphe {
display: flex;
background-color: rgba(255, 255, 255, 0.5);
height:100%;
}*/




.brick-wall{
     /* .brick-wall {*/
    display: flex;
    flex-direction: row;
    position: relative; 
    width: 100vw;
    height: 100vh;
    background-color: #530a0a;
    border-radius: 5px;

    box-shadow:
    /*rangée 01*/
    0 0 #b22222,110px 0 #b22222,220px 0 #b22222,330px 0 #b22222,440px 0 #b22222,550px 0 #b22222,660px 0 #b22222,770px 0 #b22222,880px 0 #b22222,990px 0 #b22222,1100px 0 #b22222,1210px 0 #b22222,1320px 0 #b22222,1430px 0 #b22222,1540px 0 #b22222,1650px 0 #b22222,1760px 0 #b22222,1870px 0 #b22222,1980px 0 #b22222,2090px 0 #b22222,
    /*rangée 02*/
    -55px 55px #b22222,55px 55px #b22222,165px 55px #b22222,275px 55px #b22222,385px 55px #b22222,495px 55px #b22222,605px 55px #b22222,715px 55px #b22222,825px 55px #905e5e,935px 55px #905e5e,1045px 55px #905e5e,1155px 55px #905e5e,1265px 55px #905e5e,1375px 55px #905e5e,1485px 55px #905e5e,1595px 55px #905e5e,1705px 55px #905e5e,1815px 55px #905e5e,1925px 55px #905e5e,2035px 55px #905e5e,
    /*rangée 03*/
    0px 110px #b22222,110px 110px #b22222,220px 110px #b22222,330px 110px #905e5e,440px 110px #b22222,550px 110px #b22222,660px 110px #b22222,770px 110px #b22222,
    880px 110px #b22222,990px 110px #b22222,1100px 110px #b22222,1210px 110px #b22222,1320px 110px #b22222,1430px 110px #b22222,1540px 110px #b22222,1650px 110px #b22222,1760px 110px #b22222,1870px 110px #b22222,1980px 110px #b22222,2090px 110px #b22222,

    /*rangée 04*/
    -55px 165px green,55px 165px green,165px 165px #b22222,275px 165px #b22222,385px 165px #b22222,495px 165px #b22222,605px 165px #b22222,715px 165px #b22222,825px 165px #905e5e,935px 165px #905e5e,1045px 165px #905e5e,1155px 165px #905e5e,1265px 165px #905e5e,1375px 165px #905e5e,1485px 165px #905e5e,1595px 165px #905e5e,1705px 165px #905e5e,1815px 165px #905e5e,1925px 165px #905e5e,2035px 165px #905e5e,


    /*rangée 05*/
    0px 220px #b22222,
    110px 220px #b22222,
    220px 220px #b22222,
    330px 220px #905e5e,
    440px 220px #b22222,
    550px 220px #b22222,
    660px 220px #b22222,
    770px 220px #b22222,
    880px 220px #b22222,
    990px 220px #b22222,
    1100px 220px #b22222,
    1210px 220px #b22222,
    1320px 220px #b22222,
    1430px 220px #b22222,
    1540px 220px #b22222,
    1650px 220px #b22222,
    1760px 220px #b22222,
    1870px 220px #b22222,
    1980px 220px #b22222,
    2090px 220px #b22222,

    /*rangée 06*/
    -55px 275px #b22222,
    55px 275px #b22222,
    165px 275px #b22222,
    275px 275px #b22222,
    385px 275px #b22222,
    495px 275px #b22222,
    605px 275px #b22222,
    715px 275px #b22222,
    825px 275px #905e5e,
    935px 275px #905e5e,
    1045px 275px #905e5e,
    1155px 275px #905e5e,
    1265px 275px #905e5e,
    1375px 275px #905e5e,
    1485px 275px #905e5e,
    1595px 275px #905e5e,
    1705px 275px #905e5e,
    1815px 275px #905e5e,
    1925px 275px #905e5e,
    2035px 275px #905e5e,


    /*rangée 07*/
    0px 330px #b22222,
    110px 330px #b22222,
    220px 330px #b22222,
    330px 330px #905e5e,
    440px 330px #b22222,
    550px 330px #b22222,
    660px 330px #b22222,
    770px 330px #b22222,
    880px 330px #b22222,
    990px 330px #b22222,
    1100px 330px #b22222,
    1210px 330px #b22222,
    1320px 330px #b22222,
    1430px 330px #b22222,
    1540px 330px #b22222,
    1650px 330px #b22222,
    1760px 330px #b22222,
    1870px 330px #b22222,
    1980px 330px #b22222,
    2090px 330px #b22222,

    /*rangée 08*/
    -55px 385px #b22222,
    55px 385px #b22222,
    165px 385px #b22222,
    275px 385px #b22222,
    385px 385px #b22222,
    495px 385px #b22222,
    605px 385px #b22222,
    715px 385px #b22222,
    825px 385px #905e5e,
    935px 385px #905e5e,
    1045px 385px #905e5e,
    1155px 385px #905e5e,
    1265px 385px #905e5e,
    1375px 385px #905e5e,
    1485px 385px #905e5e,
    1595px 385px #905e5e,
    1705px 385px #905e5e,
    1815px 385px #905e5e,
    1925px 385px #905e5e,
    2035px 385px #905e5e,


    /*rangée 09*/
    0px 440px #b22222,
    110px 440px #b22222,
    220px 440px #b22222,
    330px 440px #905e5e,
    440px 440px #b22222,
    550px 440px #b22222,
    660px 440px #b22222,
    770px 440px #b22222,
    880px 440px #b22222,
    990px 440px #b22222,
    1100px 440px #b22222,
    1210px 440px #b22222,
    1320px 440px #b22222,
    1430px 440px #b22222,
    1540px 440px #b22222,
    1650px 440px #b22222,
    1760px 440px #b22222,
    1870px 440px #b22222,
    1980px 440px #b22222,
    2090px 440px #b22222,


    /*rangée 10*/
    -55px 495px #b22222,
    55px 495px #b22222,
    165px 495px #b22222,
    275px 495px #b22222,
    385px 495px #b22222,
    495px 495px #b22222,
    605px 495px #b22222,
    715px 495px #b22222,
    825px 495px #905e5e,
    935px 495px #905e5e,
    1045px 495px #905e5e,
    1155px 495px #905e5e,
    1265px 495px #905e5e,
    1375px 495px #905e5e,
    1485px 495px #905e5e,
    1595px 495px #905e5e,
    1705px 495px #905e5e,
    1815px 495px #905e5e,
    1925px 495px #905e5e,
    2035px 495px #905e5e,



    /*rangée 11*/
    0px 550px #b22222,
    110px 550px #b22222,
    220px 550px #b22222,
    330px 550px #905e5e,
    440px 550px #b22222,
    550px 550px #b22222,
    660px 550px #b22222,
    770px 550px #b22222,
    880px 550px #b22222,
    990px 550px #b22222,
    1100px 550px #b22222,
    1210px 550px #b22222,
    1320px 550px #b22222,
    1430px 550px #b22222,
    1540px 550px #b22222,
    1650px 550px #b22222,
    1760px 550px #b22222,
    1870px 550px #b22222,
    1980px 550px #b22222,
    2090px 550px #b22222,


    /*rangée 12*/
    -55px 605px #b22222,
    55px 605px #b22222,
    165px 605px #b22222,
    275px 605px #b22222,
    385px 605px #b22222,
    495px 605px #b22222,
    605px 605px #b22222,
    715px 605px #b22222,
    825px 605px #905e5e,
    935px 605px #905e5e,
    1045px 605px #905e5e,
    1155px 605px #905e5e,
    1265px 605px #905e5e,
    1375px 605px #905e5e,
    1485px 605px #905e5e,
    1595px 605px #905e5e,
    1705px 605px #905e5e,
    1815px 605px #905e5e,
    1925px 605px #905e5e,
    2035px 605px #905e5e,


    /*rangée 13*/
    0px 660px #b22222,
    110px 660px #b22222,
    220px 660px #b22222,
    330px 660px #905e5e,
    440px 660px #b22222,
    550px 660px #b22222,
    660px 660px #b22222,
    770px 660px #b22222,
    880px 660px #b22222,
    990px 660px #b22222,
    1100px 660px #b22222,
    1210px 660px #b22222,
    1320px 660px #b22222,
    1430px 660px #b22222,
    1540px 660px #b22222,
    1650px 660px #b22222,
    1760px 660px #b22222,
    1870px 660px #b22222,
    1980px 660px #b22222,
    2090px 660px #b22222,


    /*rangée 14*/
    -55px 715px #b22222,
    55px 715px #b22222,
    165px 715px #b22222,
    275px 715px #b22222,
    385px 715px #b22222,
    495px 715px #b22222,
    605px 715px #b22222,
    715px 715px #b22222,
    825px 715px #905e5e,
    935px 715px #905e5e,
    1045px 715px #905e5e,
    1155px 715px #905e5e,
    1265px 715px #905e5e,
    1375px 715px #905e5e,
    1485px 715px #905e5e,
    1595px 715px #905e5e,
    1705px 715px #905e5e,
    1815px 715px #905e5e,
    1925px 715px #905e5e,
    2035px 715px #905e5e,


    /*rangée 15*/
    0px 770px #b22222,
    110px 770px #b22222,
    220px 770px #b22222,
    330px 770px #905e5e,
    440px 770px #b22222,
    550px 770px #b22222,
    660px 770px #b22222,
    770px 770px #b22222,
    880px 770px #b22222,
    990px 770px #b22222,
    1100px 770px #b22222,
    1210px 770px #b22222,
    1320px 770px #b22222,
    1430px 770px #b22222,
    1540px 770px #b22222,
    1650px 770px #b22222,
    1760px 770px #b22222,
    1870px 770px #b22222,
    1980px 770px #b22222,
    2090px 770px #b22222,


    /*rangée 16*/
    -55px 825px #b22222,55px 825px #b22222,165px 825px #b22222,275px 825px #b22222,385px 825px #b22222,495px 825px #b22222,605px 825px #b22222,715px 825px #b22222,825px 825px #905e5e,935px 825px #905e5e,1045px 825px #905e5e,1155px 825px #905e5e,1265px 825px #905e5e,1375px 825px #905e5e,1485px 825px #905e5e,1595px 825px #905e5e,1705px 825px #905e5e,1815px 825px #905e5e,1925px 825px #905e5e,2035px 825px #905e5e,



    /*rangée 16*/
    0px 880px #b22222,
    110px 880px #b22222,
    220px 880px #b22222,
    330px 880px #905e5e,
    440px 880px #b22222,
    550px 880px #b22222,
    660px 880px #b22222,
    770px 880px #b22222,
    880px 880px #b22222,
    990px 880px #b22222,
    1100px 880px #b22222,
    1210px 880px #b22222,
    1320px 880px #b22222,
    1430px 880px #b22222,
    1540px 880px #b22222,
    1650px 880px #b22222,
    1760px 880px #b22222,
    1870px 880px #b22222,
    1980px 880px #b22222,
    2090px 880px #b22222,


    /*rangée 17*/
    -55px 935px #b22222,
    55px 935px #b22222,
    165px 935px #b22222,
    275px 935px #b22222,
    385px 935px #b22222,
    495px 935px #b22222,
    605px 935px #b22222,
    715px 935px #b22222,
    825px 935px #905e5e,
    935px 935px #905e5e,
    1045px 935px #905e5e,
    1155px 935px #905e5e,
    1265px 935px #905e5e,
    1375px 935px #905e5e,
    1485px 935px #905e5e,
    1595px 935px #905e5e,
    1705px 935px #905e5e,
    1815px 935px #905e5e,
    1925px 935px #905e5e,
    2035px 935px #905e5e;

    width: 100px;
    height: 50px;
  }




